{% extends "layout.html" %}
{% block title %}
Edit Branch
{% endblock %}
{% block content %}
<div class="edit_branch">
    <form method='post' action='/edit_branch/{{branch.branch_id}}'>
    <label>Branch Name:</label>
    <br>
        <input type='text' name='branch_name' size="100" required value='{{branch.branch_name}}' class='form-control' oninput="this.value=this.value.replace(/[^a-zA-Z0-9\s]/g, '')"
        >
    <p></p>
    <label>Address Line 1:</label>
    <br>
        <input type='text' name='address_line1' size="100" required value='{{branch.address_line1}}'class='form-control' oninput="this.value=this.value.replace(/[^a-zA-Z0-9\s]/g, '')"
        >
    <p></p>
    <label>Address Line 2:</label>
    <br>
        <input type='text' name='address_line2' size="100"   value='{{branch.address_line2}}'class='form-control' oninput="this.value=this.value.replace(/[^a-zA-Z0-9\s]/g, '')"
        >
    <p></p>
    <label>Postcode:</label>
    <br>
        <input type='text' name='postcode' size="100" required value='{{branch.postcode}}' class='form-control'  oninput="this.value=this.value.replace(/[^a-zA-Z0-9\s]/g, '')">
    <p></p>
    <p></p>
    <input type='submit' value='Submit' class='btn btn-primary'>
    <input type="reset" value="Reset" class='btn btn-primary'>
</form>
<div class="text-right">
    <td><a href='{{ url_for("admin.maintain_branch")}}' class='btn btn-primary'>Back</a></td>
</div>
{% endblock %}