{% extends "layout.html" %}
{% block title %}
Admin
{% endblock %}
{% block content %}
<table class="table table-hover">
  <thead class="tables">
        <th>ID</th>
        <th>Username</th>
        <th>Branch</th>
        <th>Password</th>
        <th>Role</th>
        <th>Authorised</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
     {% for admin in admin %}
      <tr>
        <td>{{admin.id}}</td>
        <td>{{admin.username}}</td>
        <td>{{admin.branch_name}}</td>
        <td>{{admin.password}}</td>
        <td>{{admin.role}}</td>
        <td>{{admin.authorised}}</td>
        <td><a href='{{url_for("admin.edit_user", id=admin.id)}}' class='btn btn-primary'>Edit</a></td>
        <td>
          <form method="POST" action="/delete_user/">
            <input type="hidden" value="{{admin.id}}" name="id" >
            <input type="submit" class='btn btn-primary' value="Delete" onclick='return confirm("Are you sure you want to delete this user?")'>
          </form>
         </td>
      </tr>
     {%endfor%}
    </tbody>
  </table>
{% endblock %}