{% extends "layout.html" %}
{% block title %}
Order History 
{% endblock %}
{% block content %}
<h1>Current Orders</h1>
<table class="table table-hover">
    <thead class="active tables">
      <th>Order Id</th>
      <th>Asset Name</th>
      <th>Asset Description</th>
      <th>Check Out Date</th>
      <th>Returned Date</th>
      <th>Status</th>
    </thead>
    <tbody>
      {% for current_order_history in current_order_history %}
      <tr>
            <td>{{ current_order_history.order_id }}</td>
            <td>{{ asset_names[current_order_history.asset_id] }}</td>
            <td>{{ asset_description[current_order_history.asset_id ] }}</td>
            <td>{{ current_order_history.check_out_date }}</td>
            <td>{{ current_order_history.return_date }}</td>
            <td>{{ current_order_history.status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h1>Past Orders</h1>
  <table class="table table-hover">
    <thead class="past tables">
      <th>Order Id</th>
      <th>Asset Name</th>
      <th>Asset Description</th>
      <th>Check Out Date</th>
      <th>Returned Date</th>
      <th>Status</th>
    </thead>
    <tbody>
      {% for past_order_history in past_order_history %}
      <tr>
            <td>{{ past_order_history.order_id }}</td>
            <td>{{ asset_names[past_order_history.asset_id] }}</td>
            <td>{{ asset_description[past_order_history.asset_id ] }}</td>
            <td>{{ past_order_history.check_out_date }}</td>
            <td>{{ past_order_history.return_date }}</td>
            <td>{{ past_order_history.status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
