{% extends "layout.html" %}
{% block title %}
Maintain Orders
{% endblock %}
{% block content %}

<table class="table table-hover">
    <thead class="active tables">
        <th>Order Id</th>
        <th>Asset Name</th>
        <th>Asset Description</th>
        <th>Username</th>
        <th>Branch</th>
        <th>Date Placed</th>
        <th>Status</th>
        <th>Edit</th>
        
    </thead>
    <tbody>
        {% for order in order %}
        <tr>
            <td>{{ order.order_id }}</td>
            <td>{{ asset_names[order.asset_id] }}</td>
            <td>{{ asset_description[order.asset_id] }}</td>
            <td>{{ order.username }}</td>
            <td>{{ branch_names[order.branch_id] }}</td>
            <td>{{ order.check_out_date }}</td>
            <td>{{ order.status }}</td>
            <td><a href='{{ url_for("manager.edit_order", order_id=order.order_id) }}' class='btn btn-primary'>Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
