{% extends "layout.html" %}
{% block title %}
Maintain Assets
{% endblock %}
{% block content %}
<td><a href='{{url_for("manager.add_asset")}}' class='btn btn-primary'>Add Asset</a></td>

<table class="table table-hover">
    <thead class="active tables">
      <th>ID</th>
      <th>Asset Name</th>
      <th>Asset Description</th>
      <th>Keywords</th>
      <th>Available </th>
      <th>Edit</th>
      <th>View History</th>
      <th>Delete</th>
    </thead>
    <tbody>
      {% for asset in asset %}
      <tr>
        <td>{{asset.asset_id}}</td>
        <td>{{asset.asset_name}}</td>
        <td>{{asset.asset_description}}</td>
        <td>{{asset.keyword}}</td>
        <td>{{asset.available}}</td>
        <td><a href='{{ url_for("manager.edit_asset", asset_id=asset.asset_id) }}' class='btn btn-primary'>Edit</a></td>
        
        <td><a href='{{ url_for("manager.asset_history", asset_id=asset.asset_id) }}' class='btn btn-primary'>History</a></td>
        <td>
          <form method="POST" action="/delete_asset/">
              <input type="hidden" value="{{asset.asset_id}}" name="asset_id">
              <input type="submit" class='btn btn-primary' value="Delete" onclick='return confirm("Are you sure you want to delete this asset? Please note if asset has been borrowed you can no longer delete the item.")'>
          </form>
      </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}